<!-- Footer-->
<footer class="main-footer">
    <!-- Service Block-->
    <div class="services-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
            <div class="item d-flex align-items-center">
              <div class="icon"><i class="icon-truck"></i></div>
              <div class="text">
                <h6 class="no-margin text-uppercase">Free shipping &amp; return</h6><span>Free Shipping over $300</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center">
            <div class="item d-flex align-items-center">
              <div class="icon"><i class="icon-coin"></i></div>
              <div class="text">
                <h6 class="no-margin text-uppercase">Money back guarantee</h6><span>30 Days Money Back Guarantee</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center">
            <div class="item d-flex align-items-center">
              <div class="icon"><i class="icon-headphones"></i></div>
              <div class="text">
                <h6 class="no-margin text-uppercase">020-800-456-747</h6><span>24/7 Available Support</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="copyrights">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="text col-md-6">
            <p> Design By <a href="https://connectwithjayesh.com/" target="_blank">Harish Prajapati</a> </p>
          </div>
          <div class="payment col-md-6 clearfix">
            <ul class="payment-list list-inline-item pull-right">
              <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-3/img/visa.svg" alt="..."></li>
              <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-3/img/mastercard.svg" alt="..."></li>
              <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-3/img/paypal.svg" alt="..."></li>
              <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-3/img/western-union.svg" alt="..."></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/606478f2067c2605c0be0ff5/1f247gtji';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->